.rule_exampleswitch {
    position: relative; width: 168px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.rule_exampleswitch-checkbox {
    display: none;
}
.rule_exampleswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.rule_exampleswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.rule_exampleswitch-inner:before, .rule_exampleswitch-inner:after {
    display: block; float: left; width: 50%; height: 51px; padding: 0; line-height: 51px;
    font-size: 22px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.rule_exampleswitch-inner:before {
    content: "Positive";
    padding-left: 10px;
    background-color: #E6E6E6; color: #08C24C;
}
.rule_exampleswitch-inner:after {
    content: "Negative";
    padding-right: 10px;
    background-color: #E6E6E6; color: #FA0505;
    text-align: right;
}
.rule_exampleswitch-switch {
    display: block; width: 37px; height: 37px; margin: 7px;
    background: #FA0505;
    position: absolute; top: 0; bottom: 0;
    right: 113px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.rule_exampleswitch-checkbox:checked + .rule_exampleswitch-label .rule_exampleswitch-inner {
    margin-left: 0;
}
.rule_exampleswitch-checkbox:checked + .rule_exampleswitch-label .rule_exampleswitch-switch {
    right: 0px; 
    background-color: #08C24C; 
}

.strat_exampleswitch {
    position: relative; width: 168px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.strat_exampleswitch-checkbox {
    display: none;
}
.strat_exampleswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.strat_exampleswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.strat_exampleswitch-inner:before, .strat_exampleswitch-inner:after {
    display: block; float: left; width: 50%; height: 51px; padding: 0; line-height: 51px;
    font-size: 22px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.strat_exampleswitch-inner:before {
    content: "Positive";
    padding-left: 10px;
    background-color: #E6E6E6; color: #08C24C;
}
.strat_exampleswitch-inner:after {
    content: "Negative";
    padding-right: 10px;
    background-color: #E6E6E6; color: #FA0505;
    text-align: right;
}
.strat_exampleswitch-switch {
    display: block; width: 37px; height: 37px; margin: 7px;
    background: #FA0505;
    position: absolute; top: 0; bottom: 0;
    right: 113px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.strat_exampleswitch-checkbox:checked + .strat_exampleswitch-label .strat_exampleswitch-inner {
    margin-left: 0;
}
.strat_exampleswitch-checkbox:checked + .strat_exampleswitch-label .strat_exampleswitch-switch {
    right: 0px; 
    background-color: #08C24C; 
}

.inclusionswitch {
    position: relative; width: 168px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.inclusionswitch-checkbox {
    display: none;
}
.inclusionswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.inclusionswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.inclusionswitch-inner:before, .inclusionswitch-inner:after {
    display: block; float: left; width: 50%; height: 51px; padding: 0; line-height: 51px;
    font-size: 22px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.inclusionswitch-inner:before {
    content: "Inclusion";
    padding-left: 10px;
    background-color: #E6E6E6; color: #08C24C;
}
.inclusionswitch-inner:after {
    content: "Exclusion";
    padding-right: 10px;
    background-color: #E6E6E6; color: #FA0505;
    text-align: right;
}
.inclusionswitch-switch {
    display: block; width: 37px; height: 37px; margin: 7px;
    background: #FA0505;
    position: absolute; top: 0; bottom: 0;
    right: 113px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.inclusionswitch-checkbox:checked + .inclusionswitch-label .inclusionswitch-inner {
    margin-left: 0;
}
.inclusionswitch-checkbox:checked + .inclusionswitch-label .inclusionswitch-switch {
    right: 0px; 
    background-color: #08C24C; 
}

.inclusionswitch2 {
    position: relative; width: 168px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.inclusionswitch2-checkbox {
    display: none;
}
.inclusionswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.inclusionswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.inclusionswitch2-inner:before, .inclusionswitch2-inner:after {
    display: block; float: left; width: 50%; height: 51px; padding: 0; line-height: 51px;
    font-size: 22px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.inclusionswitch2-inner:before {
    content: "Inclusion";
    padding-left: 10px;
    background-color: #E6E6E6; color: #08C24C;
}
.inclusionswitch2-inner:after {
    content: "Exclusion";
    padding-right: 10px;
    background-color: #E6E6E6; color: #FA0505;
    text-align: right;
}
.inclusionswitch2-switch {
    display: block; width: 37px; height: 37px; margin: 7px;
    background: #FA0505;
    position: absolute; top: 0; bottom: 0;
    right: 113px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.inclusionswitch2-checkbox:checked + .inclusionswitch2-label .inclusionswitch2-inner {
    margin-left: 0;
}
.inclusionswitch2-checkbox:checked + .inclusionswitch2-label .inclusionswitch2-switch {
    right: 0px; 
    background-color: #08C24C; 
}

#rhs {
   border: 2px solid black;
   padding-left: 0;
   width: 55%;
}
#canvas {
   border: 2px solid black;
   padding-left: 0;
   min-width: 705px;
}

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#wrapper.toggled #test1 {
  width:40%;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

#start {
  font-size: 20px;
  float: middle;
}

/*.ordering {
  list-style: none;
  padding: 0;
  margin-right:20px;
  background: #D3D3D3;
  height: 20px;
}*/

.eg {
  background: #eee;
  margin: 1px;
  padding: 5px 10px;
}

.sortable-ghost {
  opacity: .6;
}

li {
  list-style: none;
  font-size:20px;
  padding:0;
}

ul {
  padding: 0;
}

/*#feedback { font-size: 1.4em; }*/
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
/*#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/

/* Sortable items */
.sortable-list {
  list-style: none;
  margin: 0;
  min-height: 20px;
  padding: 0px;
}
.sortable-item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 5px;
  /*cursor: move;*/
}
/* Item placeholder (visual helper) */
.placeholder {
  border: 1px dashed #666;
  height: 45px;
  margin-bottom: 5px;
}

.alert{
    display: none;
}